Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2021-08, with the labels that each got.

#266 refactor: ReservationControllerTest에서 repository 의존성 제거
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/CoordinateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/BatikConverter.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 🔨 refactor, 🕋 backend

#284 chore: workflow가 프론트엔드 파일 변경시에만 실행 되도록 설정
  .github/workflows/frontend-test.yml
Labels: ⚙️ setting, 🐛 bug, 🔨 refactor

#281 refactor: 현재 시작시간 예약 생성을 허용
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/LocalTimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/ProductionTimeConverter.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
Labels: 공간관리자, 예약자, 🔨 refactor, 🕋 backend

#288 feat: 썸네일을 cloudfront url로 바꾸어서 응답
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/BatikConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/S3Uploader.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/BatikConverterTest.java
Labels: 🌟 feature, 🕋 backend

#271 refactor: 공간관리자는 자신의 맵 예약만 조회할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/GuestReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ManagerReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/GuestReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 공간관리자, 🔨 refactor, 🕋 backend

#290 fix: 선 그리기 중 board 밖에서 mouseUp하는 경우 보조선이 남는 문제
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
Labels: 공간관리자, 🐛 bug, 📚 frontend

#314 feat: db flyway를 적용한다.
  backend/build.gradle
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/main/resources/db.migration/prod/V1_init.sql
Labels: ⚙️ setting, 🕋 backend

#316 fix: db flyway 관련 빌드 실패하는 문제
  backend/src/main/resources/db.migration/prod/V1__init.sql
Labels: ⚙️ setting, 🐛 bug, 🕋 backend

#317 fix: db flyway 관련 빌드가 실패하는 문제
  backend/src/main/resources/db.migration/prod/V1_init.sql
Labels: ⚙️ setting, 🐛 bug, 🕋 backend

#319 fix: prod properties 설정 변경
  backend/src/main/resources/application-prod.properties
Labels: ⚙️ setting, 🐛 bug, 🕋 backend

#296 feat: 맵 삭제 시 썸네일을 버켓에서 지운다.
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/S3Uploader.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/StorageUploader.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/S3UploaderTest.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#291 refactor: 예약 시간 단위가 타당한지 검증
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidDurationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidTimeUnitException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/GuestReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간관리자, 예약자, 🔨 refactor, 🕋 backend

#310 refactor: Space entity 수정
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailWithIdResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidDurationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidTimeUnitException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/main/resources/db/migration/prod/V3__drop_mapImage.sql
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간관리자, 🔨 refactor, 🕋 backend

#313 feat: 공간 관리자 메인 페이지 상세 기능 및 UI 수정
  frontend/src/components/MapListItem/MapListItem.styles.ts
  frontend/src/components/MapListItem/MapListItem.tsx
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/types/response.ts
Labels: 공간관리자, 🌟 feature, 📚 frontend

#323 feat: API URI를 정리한다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/GuestReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ManagerReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateWithPasswordRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/GuestReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
Labels: 🔨 refactor, 🕋 backend

#329 fix: space update 시 color 수정 안되는 문제 해결
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
Labels: 🐛 bug, 🕋 backend

#298 feat: 예약이 예약 가능한 공간에 예약되었는지 검증한다.
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/DayOfWeekConstraint.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/DayOfWeekValidator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/Validator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidDayOfWeekException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidDurationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidReservationEnableException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidStartEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/InvalidTimeUnitException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoDataToUpdateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchDayOfWeekException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/SpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🌟 feature, 🕋 backend

#331 chore: 예약 관련 URI 수정
  frontend/src/api/reservation.ts
  frontend/src/pages/GuestMain/GuestMain.tsx
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
Labels: 공간관리자, 예약자, 📚 frontend

#334 fix: db flyway sql문 추가, space dto 이름 변경
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/main/resources/db/migration/prod/V4__change_enabled_day.sql
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
Labels: 🐛 bug, 🕋 backend

#315 test: validation test 작성
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/GuestReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ManagerReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/DayOfWeekConstraint.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/TimeUnit.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/TimeUnitValidator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ValidatorMessage.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/LoginRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateWithPasswordRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationPasswordAuthenticationRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/LoginRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/MapCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/MemberSaveRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/RequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ReservationCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ReservationCreateUpdateWithPasswordRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ReservationPasswordAuthenticationRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SettingsRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SpaceCreateUpdateRequestTest.java
Labels: 🔨 refactor, 🕋 backend

#332 refactor: json 파싱 오류 시 잡는 핸들러 추가
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
Labels: 🔨 refactor, 🕋 backend

#337 refactor: test fixture를 정리한다.
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/GuestReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/Constants.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MapTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/RequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SpaceCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/JwtUtilsTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#338 feat: 예약자 공간조회 API 구현
  backend/src/docs/asciidoc/space.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/GuestSpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ManagerSpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🌟 feature, 🕋 backend, 예약자

#349 refactor: 토큰이 유효하지 않을 경우 Redirection 하는 로직을 axios에서 실행하도록 변경
  frontend/src/api/api.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/yarn.lock
Labels: 📚 frontend, 공간관리자, 🔨 refactor

#346 docs: README에 팀원 소개 및 프로젝트 소개 작성
  README.md
Labels: 📚 frontend, 🕋 backend, 📝 docs

#339 feat: jacoco와 sonarqube 설정
  backend/build.gradle
  backend/src/docs/asciidoc/index.adoc
Labels: 🕋 backend, 📝 docs, ⚙️ setting

#344 feat: 프리셋을 저장한다. 프리셋을 삭제한다.
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/preset.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Preset.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetCreateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/preset/NoSuchPresetException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/PresetRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/PresetService.java
  backend/src/main/resources/db/migration/prod/V5__add_preset.sql
  backend/src/test/java/com/woowacourse/zzimkkong/Constants.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/PresetTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/PresetCreateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/PresetRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/PresetServiceTest.java
Labels: 🌟 feature, 🕋 backend, 공간관리자

#348 feat: 맵-공간 양방향 매핑을 적용한다.
  backend/build.gradle
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/SpaceRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/GuestReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MapTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#364 fix: database preset column명 수정
  backend/src/main/resources/db/migration/prod/V6__preset_column_change.sql
Labels: 🐛 bug, 🕋 backend

#351 feat: 공간 생성/수정/삭제시 맵 썸네일을 업데이트 한다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ManagerSpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceDeleteRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/ThumbnailManager.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SpaceCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SpaceDeleteRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🌟 feature, 🕋 backend, 공간관리자

#353 feat: 맵 생성 페이지에서 선 선택 및 삭제 기능 구현
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.styles.ts
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/types/common.ts
  frontend/src/types/editor.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자

#358 feat: Header 로고 선택 시 메인 화면으로 이동
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
Labels: 🌟 feature, 📚 frontend, 공간관리자, 예약자

#368 refactor: space 내 coordinate, textPosition 컬럼 제거
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/CoordinateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
  backend/src/main/resources/db/migration/prod/V7__space_column_drop.sql
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#352 feat: 프리셋 전체조회 API를 구현한다.
  backend/src/docs/asciidoc/preset.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Preset.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/SvgToPngConvertException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/PresetRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/PresetService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/Constants.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/PresetRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/PresetServiceTest.java
Labels: 🌟 feature, 🕋 backend, 공간관리자

#345 feat: 맵 에디터에서 선을 그리기 전 색상을 선택하는 기능
  frontend/src/App.styles.ts
  frontend/src/api/reservation.ts
  frontend/src/components/ColorPicker/ColorPicker.stories.tsx
  frontend/src/components/ColorPicker/ColorPicker.styles.ts
  frontend/src/components/ColorPicker/ColorPicker.tsx
  frontend/src/components/ColorPicker/ColorPickerIcon.ts
  frontend/src/constants/editor.ts
  frontend/src/constants/message.ts
  frontend/src/constants/palette.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.styles.ts
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/types/styled.d.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자

#357 feat: 사용자가 예약 페이지에서 메인 페이지로 돌아올 때 이전에 선택한 정보들을 기억했다가 보여주는 기능
  frontend/src/pages/GuestMain/GuestMain.tsx
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/types/common.ts
Labels: 🌟 feature, 📚 frontend, 예약자

#372 feat: 공간관리자 로그아웃 기능
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
Labels: 🌟 feature, 📚 frontend, 공간관리자

#374 refactor: Reservation 생성시 초 이하 단위를 자른다.
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
Labels: 🕋 backend, 🔨 refactor

#369 refactor: 예외 클래스들을 리팩토링한다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/InputFieldErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/InputFieldException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ZzimkkongException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/AuthorizationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/AuthorizationHeaderUninvolvedException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/NoAuthorityOnMapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/DecodingException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/EncodingException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/InfrastructureException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/InfrastructureMalfunctionException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/InsufficientSecretKeyLengthException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/S3UploadException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/SvgToPngConvertException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/InvalidAccessLinkException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/MapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/NoSuchMapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/DuplicateEmailException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/MemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/NoSuchMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/PasswordMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/preset/NoSuchPresetException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ConflictSpaceSettingException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleReservationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleStartTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoSuchReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NonMatchingStartAndEndDateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationPasswordException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchDayOfWeekException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchSpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/ReservationExistOnSpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/SpaceException.java
Labels: 🙋‍♂️ help wanted, 🕋 backend, 🔨 refactor

#375 refactor: 테스트 커버리지를 관리한다.
  backend/build.gradle
  backend/lombok.config
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Preset.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/SlackUrl.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/TimeUnitValidator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/LoginRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetCreateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/TokenResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateWithPasswordRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationPasswordAuthenticationRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Attachment.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Attachments.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/SlackResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceDeleteRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailWithIdResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/AES256Transcoder.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SettingsRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/AES256TranscoderTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/BatikConverterTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#376 feat: 맵을 수정할 수 있는 기능
  frontend/src/api/managerMap.ts
  frontend/src/api/map.ts
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/hooks/useManagerMap.ts
  frontend/src/hooks/useManagerMaps.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/types/common.ts
  frontend/src/types/response.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자

#383 refactor: 예약자 메인 페이지에서 스크롤 위치를 실시간으로 업데이트 하지 않고 예약 페이지로 넘어갈 때만 업데이트 하도록 변경
  frontend/src/pages/GuestMain/GuestMain.tsx
Labels: 📚 frontend, 예약자, 🔨 refactor

#386 refactor: 중복되는 라우터 제거
  frontend/src/constants/routes.tsx
Labels: 📚 frontend, 🔨 refactor

#389 fix: space 생성 시 s3에 업로드 안되는 문제를 해결합니다.
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🐛 bug, 🕋 backend

#385 feat: 공유링크로 맵을 조회하고 예약할 수 있다.
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/api/guestMap.ts
  frontend/src/api/guestReservation.ts
  frontend/src/api/managerMap.ts
  frontend/src/api/managerReservation.ts
  frontend/src/api/space.ts
  frontend/src/assets/svg/link.svg
  frontend/src/components/Header/Header.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/hooks/useGuestMap.ts
  frontend/src/hooks/useGuestReservations.ts
  frontend/src/hooks/useManagerReservations.ts
  frontend/src/hooks/useSpaces.ts
  frontend/src/pages/GuestMain/GuestMain.test.tsx
  frontend/src/pages/GuestMain/GuestMain.tsx
  frontend/src/pages/GuestMain/spaceList.ts
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/types/common.ts
  frontend/src/types/response.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자, 예약자

#393 fix: 공간 편집 시 썸네일에 공간 영역이 올바르게 반영되지 않는 문제 수정
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerSpaceEdit/ManagerSpaceEdit.tsx
Labels: 🐛 bug, 📚 frontend, 공간관리자

#396 fix: 예약자 메인 페이지에서 공간 관리자의 API가 호출되고 있던 문제 수정
  frontend/src/api/guestSpace.ts
  frontend/src/hooks/useGuestReservations.ts
  frontend/src/hooks/useGuestSpaces.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
Labels: 🐛 bug, 📚 frontend, 예약자

#387 feat: code smell 리팩터링
  backend/build.gradle
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/DayOfWeekValidator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/TimeUnitValidator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ValidatorMessage.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/LoginRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateWithPasswordRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationPasswordAuthenticationRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Attachments.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/S3Uploader.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/ThumbnailManager.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SlackService.java
  backend/src/test/java/com/woowacourse/zzimkkong/Constants.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestMapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MapTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/PresetTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/LoginRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/MapCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/MemberSaveRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/PresetCreateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/RequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ReservationCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ReservationCreateUpdateWithPasswordRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ReservationPasswordAuthenticationRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SpaceCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SpaceDeleteRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/SharingIdGeneratorTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/PresetRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/RepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/PresetServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🕋 backend, 🔨 refactor

#398 fix: CORS originpattern 설정 제거
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
Labels: 🐛 bug, 🕋 backend, ⚙️ setting

#378 feat: PageHeader 컴포넌트를 분리한다.
  frontend/src/assets/svg/map-editor.svg
  frontend/src/assets/svg/space-editor.svg
  frontend/src/components/IconButton/IconButton.styles.ts
  frontend/src/components/PageHeader/PageHeader.stories.tsx
  frontend/src/components/PageHeader/PageHeader.styles.ts
  frontend/src/components/PageHeader/PageHeader.tsx
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestReservation/GuestReservation.styles.ts
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.styles.ts
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
Labels: 📚 frontend, 🔨 refactor, 🎨 UI

#404 fix: 공간 삭제 시 이전예약들 같이 삭제되도록 양방향 매핑 적용
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
Labels: 🐛 bug, 🕋 backend, 🔨 refactor

#391 docs: 공유링크를 통한 맵 조회 요청 예시가 깨지는 문제 해결
  backend/src/docs/asciidoc/map.adoc
Labels: 🕋 backend, 📝 docs

#403 fix: 맵이 없어도 공유링크가 클립보드에 복사되는 문제
  frontend/src/pages/ManagerMain/ManagerMain.tsx
Labels: 🐛 bug, 📚 frontend, 공간관리자

#407 feat: 예약자 메인 페이지 예약 목록 UI 수정 구현
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestReservation/GuestReservation.styles.ts
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.styles.ts
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
  frontend/src/utils/datetime.ts
Labels: 🌟 feature, 📚 frontend, 예약자, 🎨 UI

#406 feat: 맵 편집 시 사각형을 그리는 기능
  frontend/src/assets/svg/rect.svg
  frontend/src/constants/editor.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/pages/ManagerSpaceEdit/ManagerSpaceEdit.tsx
  frontend/src/types/common.ts
  frontend/src/types/editor.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자

#409 chore: application-prod.properties submodule 내부로 이동
  backend/src/main/resources/application-prod.properties
Labels: 🕋 backend, ⚙️ setting, 🔨 refactor

#411 refactor: 전체 App에서 하나의 History객체를 공유하도록 변경
  frontend/src/App.tsx
  frontend/src/api/api.ts
Labels: 🐛 bug, 📚 frontend, 공간관리자

#414 chore: eslint, prettier 설정과 코드 포맷이 어긋나면 커밋을 막는 기능
  frontend/.husky/pre-commit
  frontend/.lintstagedrc.js
  frontend/package.json
  frontend/src/components/PinRadio/PinRadio.styles.ts
  frontend/src/components/PinRadio/PinRadio.tsx
  frontend/src/types/common.ts
  frontend/yarn.lock
Labels: 📚 frontend, ⚙️ setting

#413 refactor: 지우개로 사각형 삭제 시 색상을 변경하는 기능
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
Labels: 📚 frontend, 공간관리자, 🔨 refactor

#422 refactor: 예약자 메인페이지에서 스크롤 위치를 기억하는 기능
  frontend/src/constants/message.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/pages/ManagerSpaceEdit/ManagerSpaceEdit.tsx
Labels: 🐛 bug, 📚 frontend, 공간관리자, 예약자, 🔨 refactor

#427 회원 비밀번호를 암호화한다.
  backend/build.gradle
  backend/src/main/java/com/woowacourse/zzimkkong/SecurityConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
Labels: 🌟 feature, 🕋 backend

#476 fix: dev 프로파일로 서버 운영시 이미지 업로드에 실패하는 문제 해결
  backend/src/main/java/com/woowacourse/zzimkkong/config/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/config/SecurityConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/config/SlackConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/config/StorageConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/config/WebConfig.java
Labels: 🐛 bug, 🕋 backend
