Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2021-07, with the labels that each got.

#16 [FE] 프로젝트 기본 세팅
  frontend/.editorconfig
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/.vscode/settings.json
  frontend/README.md
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/Button/Button.stories.tsx
  frontend/src/Button/Button.tsx
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: frontend

#17 [BE] 프로젝트 기본 세팅
  .gitignore
  backend/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
  backend/.gradle/7.0.2/dependencies-accessors/gc.properties
  backend/.gradle/7.0.2/executionHistory/executionHistory.bin
  backend/.gradle/7.0.2/executionHistory/executionHistory.lock
  backend/.gradle/7.0.2/fileChanges/last-build.bin
  backend/.gradle/7.0.2/fileHashes/fileHashes.bin
  backend/.gradle/7.0.2/fileHashes/fileHashes.lock
  backend/.gradle/7.0.2/gc.properties
  backend/.gradle/7.0.2/javaCompile/javaCompile.lock
  backend/.gradle/7.0.2/javaCompile/taskHistory.bin
  backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  backend/.gradle/buildOutputCleanup/cache.properties
  backend/.gradle/buildOutputCleanup/outputFiles.bin
  backend/.gradle/checksums/checksums.lock
  backend/.gradle/vcs-1/gc.properties
  backend/.idea/.gitignore
  backend/.idea/compiler.xml
  backend/.idea/gradle.xml
  backend/.idea/jarRepositories.xml
  backend/.idea/misc.xml
  backend/.idea/vcs.xml
  backend/build.gradle
  backend/build/classes/java/main/com/woowacourse/zzimkkong/ZzimkkongApplication.class
  backend/build/resources/main/application.properties
  backend/build/tmp/compileJava/source-classes-mapping.txt
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/woowacourse/zzimkkong/ZzimkkongApplicationTests.java
Labels: backend

#19 feat: Entity를 생성한다 (#18)
  backend/.gitignore
  backend/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
  backend/.gradle/7.0.2/dependencies-accessors/gc.properties
  backend/.gradle/7.0.2/executionHistory/executionHistory.bin
  backend/.gradle/7.0.2/executionHistory/executionHistory.lock
  backend/.gradle/7.0.2/fileChanges/last-build.bin
  backend/.gradle/7.0.2/fileHashes/fileHashes.bin
  backend/.gradle/7.0.2/fileHashes/fileHashes.lock
  backend/.gradle/7.0.2/gc.properties
  backend/.gradle/7.0.2/javaCompile/javaCompile.lock
  backend/.gradle/7.0.2/javaCompile/taskHistory.bin
  backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  backend/.gradle/buildOutputCleanup/cache.properties
  backend/.gradle/buildOutputCleanup/outputFiles.bin
  backend/.gradle/checksums/checksums.lock
  backend/.gradle/vcs-1/gc.properties
  backend/.idea/.gitignore
  backend/.idea/compiler.xml
  backend/.idea/gradle.xml
  backend/.idea/jarRepositories.xml
  backend/.idea/misc.xml
  backend/.idea/vcs.xml
  backend/build.gradle
  backend/build/classes/java/main/com/woowacourse/zzimkkong/ZzimkkongApplication.class
  backend/build/tmp/compileJava/source-classes-mapping.txt
  backend/gradlew.bat
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MapRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/SpaceRepository.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/main/resources/application.properties
Labels: backend, feature

#21 feat: 회원가입 UI 구현 (#7)
  frontend/.storybook/main.js
  frontend/.storybook/preview-head.html
  frontend/.storybook/preview.js
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.styles.ts
  frontend/src/App.tsx
  frontend/src/Button/Button.stories.tsx
  frontend/src/Button/Button.tsx
  frontend/src/assets/images/logo.png
  frontend/src/assets/svg/logo.svg
  frontend/src/components/Button/Button.stories.tsx
  frontend/src/components/Button/Button.styles.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Header/Header.stories.tsx
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Input/Input.stories.tsx
  frontend/src/components/Input/Input.styles.ts
  frontend/src/components/Input/Input.tsx
  frontend/src/constants/palette.ts
  frontend/src/constants/path.ts
  frontend/src/pages/Join/Join.styles.ts
  frontend/src/pages/Join/Join.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/types.d.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: feature, frontend

#20 feat: 공간제공자 회원가입 기능 구현 (#8)
  backend/build.gradle
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/MemberSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/MemberSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/DuplicateEmailException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/MemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MapRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/SpaceRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
Labels: backend, feature

#31 feat: 자동배포 shell script 추가 및 테스트 프로필 설정 (#30)
  backend/.gitignore
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/com/woowacourse/zzimkkong/ZzimkkongApplicationTests.java
Labels: backend, feature

#33 chore: package.json 수정(#32)
  frontend/package.json
Labels: frontend

#38 feat: 설정 파일 세부화 (#37)
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
Labels: backend, feature

#40 chore: `cross-env` 패키지 추가 및 적용 (#39)
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

#43 fix: CORS 이슈 해결 (#42)
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
Labels: backend, bug

#48 feat: 회원가입시 이메일 중복확인 기능 (#22)
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/api.ts
  frontend/src/api/join.ts
  frontend/src/constants/message.ts
  frontend/src/hooks/useInput.ts
  frontend/src/pages/Join/Join.tsx
  frontend/yarn.lock
Labels: 공간제공자, 🌟 feature, 📚 frontend

#34 feat: 로그인 기능 구현 (#05)
  backend/src/main/java/com/woowacourse/zzimkkong/controller/AuthController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/LoginRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/NoSuchEmailException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/PasswordMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MemberRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/RepositoryTest.java
Labels: 🌟 feature, 🕋 backend

#45 feat: restdocs를 이용한 api 문서화 (#28)
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/zzimkkong/controller/DocumentUtils.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
Labels: 🌟 feature, 🕋 backend

#51 fix: MemberControllerTest 중복 메서드 삭제
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
Labels: 🐛 bug, 🕋 backend

#53 feat: 누락 테스트 추가 및 추가된 API RestDocs 적용 (#52)
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
Labels: 📝 docs, 🕋 backend

#55 feat: 예약자는 예약을 추가할 수 있다. (#10)
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationSpaceResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ImpossibleEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ImpossibleReservationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ImpossibleStartTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/MapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/NoSuchMapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/NoSuchSpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/NonMatchingStartAndEndDateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/SpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/SpaceRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/RepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
Labels: 예약자, 🌟 feature, 🕋 backend

#64 fix: timezone KST로 변경 (#63)
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
Labels: 🐛 bug, 🕋 backend

#57 feat: 예약자 비밀번호 입력하여 예약삭제 기능 구현 (#15)
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationDeleteRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/NoSuchReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ReservationPasswordException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/static/docs/index.html
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
Labels: 예약자, 🌟 feature, 🕋 backend

#59 feat: 예약자는 공간 별, 날짜 별 예약 현황을 조회할 수 있다. (#11)
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
Labels: 예약자, 🌟 feature, 🕋 backend

#54 feat: 토큰 발급(#50)
  backend/build.gradle
  backend/src/main/java/com/woowacourse/zzimkkong/controller/AuthController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/TokenResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/NoSuchMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/JwtUtils.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/JwtUtilsTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
Labels: 공간제공자, 🌟 feature, 🕋 backend

#58 feat: `ReservationListItem` 컴포넌트 구현 (#35)
  frontend/src/assets/svg/delete.svg
  frontend/src/assets/svg/edit.svg
  frontend/src/components/ReservationListItem/ReservationListItem.stories.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.styles.ts
  frontend/src/components/ReservationListItem/ReservationListItem.tsx
  frontend/src/utils/datetime.ts
Labels: 🌟 feature, 📚 frontend

#69 docs: feature 이슈, bug 이슈, pull request에 대한 템플릿 작성 (#66)
  .github/ISSUE_TEMPLATE/bug-template.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ⚙️ setting, 📝 docs

#72 fix: ESLint가 올바르게 동작하지 않는 문제 수정 (#70)
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/package.json
  frontend/src/App.styles.ts
  frontend/src/api/join.ts
  frontend/src/index.tsx
  frontend/src/types/styled.d.ts
  frontend/yarn.lock
Labels: 🐛 bug, 📚 frontend

#73 feat: exception 발생 시 logger 작성 (#71)
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
Labels: 🌟 feature, 🕋 backend

#77 fix: `PanelContext`의 타입이 맞지 않는 문제 수정 (#76)
  frontend/src/components/Panel/PanelContext.ts
Labels: 🐛 bug, 📚 frontend

#60 feat: 공간관리자 회원가입 기능 구현 (#47)
  frontend/src/api/join.ts
  frontend/src/api/queries.ts
  frontend/src/components/Input/Input.styles.ts
  frontend/src/constants/message.ts
  frontend/src/constants/regexp.ts
  frontend/src/pages/Join/Join.tsx
Labels: 공간제공자, 🌟 feature, 📚 frontend

#90 feat: eslint import, typescript 설정 및 적용
  frontend/.eslintrc.js
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/join.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Input/Input.stories.tsx
  frontend/src/components/Panel/Panel.stories.tsx
  frontend/src/components/Panel/Panel.tsx
  frontend/src/components/Panel/PanelContent.tsx
  frontend/src/components/Panel/PanelContext.ts
  frontend/src/components/Panel/PanelHeader.stories.tsx
  frontend/src/components/Panel/PanelHeader.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.stories.tsx
  frontend/src/hooks/useInput.ts
  frontend/src/pages/Join/Join.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/utils/color.ts
  frontend/src/utils/datetime.ts
  frontend/yarn.lock
Labels: ⚙️ setting, 🌟 feature, 📚 frontend

#82 refactor: 전체 코드 리팩터링 (#74)
  backend/src/main/java/com/woowacourse/zzimkkong/controller/AuthController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/Validator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/LoginRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/TokenResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationDeleteRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSaveRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/MapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/SpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ZzimkkongException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/MapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/NoSuchMapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/DuplicateEmailException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/MemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/NoSuchMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/PasswordMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleReservationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleStartTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoSuchReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NonMatchingStartAndEndDateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationPasswordException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchSpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/SpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/DocumentUtils.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
Labels: 🌟 feature, 🕋 backend

#78 feat: 공간제공자 로그인 (#25)
  frontend/src/App.tsx
  frontend/src/api/login.ts
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/constants/storage.ts
  frontend/src/pages/Login/Login.styles.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/state/accessTokenState.ts
  frontend/src/state/keys.ts
  frontend/src/types/response.ts
  frontend/src/utils/localStorage.ts
Labels: 공간제공자, 🌟 feature, 📚 frontend

#96 feat: 예약자 예약 페이지 UI 구현 (#12)
  frontend/src/App.tsx
  frontend/src/assets/svg/calendar.svg
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Input/Input.stories.tsx
  frontend/src/components/Input/Input.styles.ts
  frontend/src/constants/path.ts
  frontend/src/pages/UserReservation/UserReservation.styles.ts
  frontend/src/pages/UserReservation/UserReservation.tsx
  frontend/src/utils/datetime.ts
Labels: 🌟 feature, 📚 frontend

#80 feat: 토큰 검증 (#67)
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/AuthorizationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/AuthorizationHeaderUninvolvedException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/JwtUtils.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/LoginInterceptor.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/JwtUtilsTest.java
Labels: 공간제공자, 🌟 feature, 🕋 backend

#89 feat: 예약자는 비밀번호를 입력하여 예약을 수정할 수 있다. (#14)
  backend/src/docs/asciidoc/reservation.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationPasswordAuthenticationRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoDataToUpdateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
Labels: 🌟 feature, 🕋 backend

#101 feat: 예약조회 시 시간순으로 정렬하는 로직 추가
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/NoSuchMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/PasswordMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoSuchReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NonMatchingStartAndEndDateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationPasswordException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchSpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/resources/application-local.properties
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
Labels: 예약자, 🌟 feature, 🕋 backend

#103 feat: Modal 컴포넌트 구현
  frontend/src/App.styles.ts
  frontend/src/api/login.ts
  frontend/src/assets/svg/close.svg
  frontend/src/components/Modal/Modal.stories.tsx
  frontend/src/components/Modal/Modal.styles.ts
  frontend/src/components/Modal/Modal.tsx
  frontend/src/constants/palette.ts
  frontend/src/types/styled.d.ts
  frontend/src/utils/datetime.ts
Labels: 🌟 feature, 📚 frontend

#107 feat: 회원가입시 조직명 유효성 검사 후 메세지를 표시하는 기능
  frontend/src/constants/message.ts
  frontend/src/constants/regexp.ts
  frontend/src/pages/Join/Join.tsx
Labels: 공간제공자, 🌟 feature, 📚 frontend

#111 feat: Button 컴포넌트가 disabled 됐을 때 색을 변경하는 기능
  frontend/src/components/Button/Button.stories.tsx
  frontend/src/components/Button/Button.styles.ts
Labels: 🌟 feature, 📚 frontend

#113 feat: api baseURL 변경
  frontend/src/api/api.ts
Labels: 🌟 feature, 📚 frontend

#110 feat: 맵(Map)에 대한 예약 조회시 공간(Space)의 이름도 같이 응답
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
Labels: 🌟 feature, 🕋 backend

#121 feat: 토큰 유효성 검증 API를 구현한다.
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/AuthController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
Labels: 🌟 feature, 🕋 backend

#123 feat: CORS 설정 프록시 서버만 허용하도록 변경한다.
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
Labels: 🌟 feature, 🕋 backend

#106 feat: 예약자가 공간을 예약할 수 있는 기능 구현 및 API 연동
  frontend/src/api/reservation.ts
  frontend/src/components/Input/Input.styles.ts
  frontend/src/components/Input/Input.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.stories.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/regexp.ts
  frontend/src/hooks/useReservations.ts
  frontend/src/pages/UserReservation/UserReservation.styles.ts
  frontend/src/pages/UserReservation/UserReservation.tsx
  frontend/src/types/common.ts
  frontend/src/types/response.ts
Labels: 예약자, 🌟 feature, 📚 frontend

#75 feat: `Table` 컴포넌트 구현
  frontend/src/components/Table/Table.stories.tsx
  frontend/src/components/Table/Table.styles.ts
  frontend/src/components/Table/Table.tsx
Labels: 🌟 feature, 📚 frontend

#126 feat: CORS - 모든 origin으로 부터의 요청을 허용한다.
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
Labels: 🐛 bug, 🕋 backend

#127 feat: CORS 모든 origin으로 부터의 요청을 허용한다.
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
Labels: 🐛 bug, 🕋 backend

#102 test: 테스트 코드 작성
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/DocumentUtils.java
  backend/src/test/java/com/woowacourse/zzimkkong/ZzimkkongApplicationTests.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/RepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
Labels: 🌟 feature, 🕋 backend

#115 feat: 예약 수정, 삭제 시 슬랙 알림 보내는 기능 구현
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Attachment.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Attachments.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Channel.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/SlackResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SlackService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
Labels: 🌟 feature, 🕋 backend

#131 feat: 공간 제공자 메인 페이지 예약 목록 UI 구현
  frontend/src/App.tsx
  frontend/src/assets/svg/link.svg
  frontend/src/assets/svg/more.svg
  frontend/src/components/Panel/PanelContent.styles.ts
  frontend/src/components/Table/Table.styles.ts
  frontend/src/constants/path.ts
  frontend/src/pages/ProviderReservationList/ProviderReservationList.styles.ts
  frontend/src/pages/ProviderReservationList/ProviderReservationList.tsx
Labels: 공간제공자, 🌟 feature, 📚 frontend

#120 feat: 공간(space)에 대한 정보를 조회할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/SpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간제공자, 예약자, 🌟 feature, 🕋 backend

#136 refactor: DTO 정적팩토리 메서드 형식 통일
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberSaveResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/TokenResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Attachment.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Attachments.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/SlackResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ReservationServiceTest.java
Labels: 🌟 feature, 🕋 backend

#134 feat: 예약자 main페이지 UI 구현
  frontend/src/App.tsx
  frontend/src/assets/svg/luther.svg
  frontend/src/components/Button/Button.stories.tsx
  frontend/src/components/Button/Button.styles.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/components/DateInput/DateInput.stories.tsx
  frontend/src/components/DateInput/DateInput.styles.ts
  frontend/src/components/DateInput/DateInput.tsx
  frontend/src/components/Panel/Panel.stories.tsx
  frontend/src/components/Panel/Panel.styles.ts
  frontend/src/components/Panel/Panel.tsx
  frontend/src/components/Panel/PanelHeader.stories.tsx
  frontend/src/components/Panel/PanelHeader.styles.ts
  frontend/src/components/PinRadio/PinRadio.stories.tsx
  frontend/src/components/PinRadio/PinRadio.styles.ts
  frontend/src/components/PinRadio/PinRadio.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.styles.ts
  frontend/src/constants/path.ts
  frontend/src/pages/ProviderReservationList/ProviderReservationList.styles.ts
  frontend/src/pages/ProviderReservationList/ProviderReservationList.tsx
  frontend/src/pages/UserMain/UserMain.styles.ts
  frontend/src/pages/UserMain/UserMain.tsx
  frontend/src/types/common.ts
Labels: 예약자, 🌟 feature, 📚 frontend

#144 fix: 예약자 예약 페이지 입력 폼에 최대 입력 길이 및 기타 폼 설정 추가
  frontend/src/constants/reservation.ts
  frontend/src/pages/UserReservation/UserReservation.tsx
Labels: 예약자, 🐛 bug, 📚 frontend

#142 feat: favicon 등록
  frontend/public/index.html
  frontend/src/assets/images/logo.png
  frontend/src/assets/svg/logo.svg
  frontend/src/components/Header/Header.styles.ts
  frontend/webpack.config.js
Labels: 🌟 feature, 📚 frontend

#130 feat: 맵(Map)에 대한 예약 조회시 공간(Space)의 색깔, 좌표값, 글자 위치도 같이 응답한다.
  backend/build.gradle
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/CoordinateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationSpaceResponse.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ReservationControllerTest.java
Labels: 🌟 feature, 🕋 backend

#139 fix: ReservationServiceTest.findAllReservation() 테스트 단독 실행시 실패하는 문제
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/com/woowacourse/zzimkkong/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 🐛 bug, 🕋 backend

#143 chore: webpack 중복되는 설정 제거 및 mode 설정 추가
  frontend/webpack.config.js
Labels: ⚙️ setting, 🐛 bug, 📚 frontend

#138 feat: 예외 발생 시 예외가 발생한 필드도 같이 반환
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/ZzimkkongException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/AuthorizationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/MapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/NoSuchMapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/DuplicateEmailException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/MemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/NoSuchMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/PasswordMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleReservationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleStartTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoDataToUpdateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoSuchReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NonMatchingStartAndEndDateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationPasswordException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchSpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/SpaceException.java
  backend/src/main/resources/application-prod.properties
Labels: 🌟 feature, 🕋 backend

#150 feat: 예약자 메인 페이지 기능 구현 및 예약 현황 조회 API 연동
  frontend/src/App.styles.ts
  frontend/src/api/queries.ts
  frontend/src/api/space.ts
  frontend/src/components/DateInput/DateInput.styles.ts
  frontend/src/components/DateInput/DateInput.tsx
  frontend/src/components/Panel/Panel.styles.ts
  frontend/src/components/Panel/PanelHeader.styles.ts
  frontend/src/components/PinRadio/PinRadio.tsx
  frontend/src/hooks/useInput.ts
  frontend/src/hooks/useSpaces.ts
  frontend/src/pages/UserMain/UserMain.styles.ts
  frontend/src/pages/UserMain/UserMain.tsx
  frontend/src/pages/UserReservation/UserReservation.tsx
  frontend/src/types/common.ts
  frontend/src/types/response.ts
  frontend/src/types/styled.d.ts
Labels: 예약자, 🌟 feature, 📚 frontend

#154 fix: 예약 후 메인 페이지의 날짜가 올바르게 변경되지 않는 문제 수정
  frontend/src/pages/UserMain/UserMain.tsx
Labels: 예약자, 🐛 bug, 📚 frontend

#147 feat: 공간 정보에 textPosition, color, coordinate를 같이 응답
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindResponse.java
Labels: 공간제공자, 예약자, 🌟 feature, 🕋 backend

#183 feat: 예외메시지 통일
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/AuthorizationHeaderUninvolvedException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/InvalidTokenException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/map/NoSuchMapException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/NoSuchMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NoSuchReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchSpaceException.java
Labels: 🌟 feature, 🕋 backend

#151 feat: 로그 설정
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/resources/appenders/console-appender.xml
  backend/src/main/resources/appenders/file-appender-debug.xml
  backend/src/main/resources/appenders/file-appender-error.xml
  backend/src/main/resources/appenders/file-appender-info.xml
  backend/src/main/resources/appenders/file-appender-trace.xml
  backend/src/main/resources/appenders/file-appender-warn.xml
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/main/resources/application.properties
  backend/src/main/resources/logback-spring.xml
Labels: ⚙️ setting, 🌟 feature, 🕋 backend

#149 refactor: 페이지에 존재하는 매직 넘버 상수화
  frontend/src/constants/manager.ts
  frontend/src/pages/Join/Join.tsx
  frontend/src/pages/Login/Login.tsx
Labels: 📚 frontend, 🔨 refactor, 🙋‍♂️ help wanted

#140 feat: 메인 페이지(공간 목록) 구현
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/images/luther.png
  frontend/src/components/SpaceListItem/SpaceListItem.stories.tsx
  frontend/src/components/SpaceListItem/SpaceListItem.styles.ts
  frontend/src/components/SpaceListItem/SpaceListItem.tsx
  frontend/src/pages/Main/Main.styles.ts
  frontend/src/pages/Main/Main.tsx
Labels: 공간관리자, 🌟 feature, 📚 frontend

#187 fix: `/`를 제외한 페이지가 보여지지 않는 문제 수정
  frontend/src/App.tsx
Labels: 🐛 bug, 📚 frontend

#184 feat: manifest.json 추가
  frontend/package.json
  frontend/public/manifest.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🌟 feature, 📚 frontend, 📝 docs

#192 feat: `Drawer` 컴포넌트 구현
  frontend/package.json
  frontend/src/App.styles.ts
  frontend/src/components/Drawer/Drawer.stories.tsx
  frontend/src/components/Drawer/Drawer.styles.ts
  frontend/src/components/Drawer/Drawer.tsx
  frontend/src/components/Drawer/DrawerCloseButton.styles.ts
  frontend/src/components/Drawer/DrawerCloseButton.tsx
  frontend/src/components/Drawer/DrawerContext.ts
  frontend/src/constants/palette.ts
  frontend/src/types/styled.d.ts
  frontend/yarn.lock
Labels: 🌟 feature, 🎨 UI, 📚 frontend

#198 refactor: 잘못된 비밀번호 입력 시 출력되는 예외 메시지를 수정한다.
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationPasswordAuthenticationRequest.java
Labels: 예약자, 🐛 bug, 🕋 backend

#211 refactor: 로그인/회원가입 페이지 UI 변경
  frontend/src/components/Button/Button.styles.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Input/Input.styles.ts
  frontend/src/pages/Join/Join.styles.ts
  frontend/src/pages/Join/Join.tsx
  frontend/src/pages/Login/Login.styles.ts
  frontend/src/pages/Login/Login.tsx
  frontend/src/types/response.ts
Labels: 공간관리자, 🎨 UI, 📚 frontend, 🔨 refactor

#204 feat: 정의되지 않은 URL로 접속 시 Redirect 하는 기능
  frontend/src/App.tsx
  frontend/src/assets/images/notFound.png
  frontend/src/pages/NotFound/NotFound.styles.ts
  frontend/src/pages/NotFound/NotFound.tsx
Labels: 🌟 feature, 📚 frontend

#214 chore: 아이콘을 제작한다.
  frontend/src/assets/svg/calendar.svg
  frontend/src/assets/svg/caret-down.svg
  frontend/src/assets/svg/close.svg
  frontend/src/assets/svg/delete.svg
  frontend/src/assets/svg/door-down-left.svg
  frontend/src/assets/svg/door-down-right.svg
  frontend/src/assets/svg/door-up-left.svg
  frontend/src/assets/svg/door-up-right.svg
  frontend/src/assets/svg/edit.svg
  frontend/src/assets/svg/items.svg
  frontend/src/assets/svg/line.svg
  frontend/src/assets/svg/link.svg
  frontend/src/assets/svg/logo.svg
  frontend/src/assets/svg/minus.svg
  frontend/src/assets/svg/more.svg
  frontend/src/assets/svg/move.svg
  frontend/src/assets/svg/palette.svg
  frontend/src/assets/svg/plus.svg
  frontend/src/assets/svg/polygon.svg
  frontend/src/assets/svg/polyline.svg
  frontend/src/assets/svg/select.svg
  frontend/src/assets/svg/square.svg
Labels: 🎨 UI

#222 fix: 예약시간에 대한 검증을 KST 기준으로 하도록 변경
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
Labels: 🐛 bug, 🕋 backend

#223 fix: 예약시간 검증 시 local time만 KST로 수정
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
Labels: 🐛 bug, 🕋 backend

#224 refactor: timezone offset 상수화
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 🐛 bug, 🔨 refactor, 🕋 backend

#189 feat: 공간 관리자는 맵을 생성할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#190 feat: 공간 관리자는 맵을 조회할 수 있다.
  backend/src/docs/asciidoc/map.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MapRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MapTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#229 build: ddl auto 설정을 none으로 변경
  backend/src/main/resources/application-prod.properties
Labels: ⚙️ setting, 🕋 backend

#231 refactor: webpack svgr viewBox 설정
  frontend/.storybook/main.js
  frontend/webpack.config.js
Labels: 📚 frontend

#232 refactor: z-index 상수화
  frontend/src/components/DateInput/DateInput.styles.ts
  frontend/src/components/Drawer/Drawer.styles.ts
  frontend/src/components/Header/Header.styles.ts
  frontend/src/components/Modal/Modal.styles.ts
  frontend/src/constants/style.ts
Labels: 📚 frontend, 🔨 refactor

#233 refactor: route 상수화 및 path 이름, page 컴포넌트명 수정
  frontend/src/App.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/pages/GuestMain/GuestMain.styles.ts
  frontend/src/pages/GuestMain/GuestMain.tsx
  frontend/src/pages/GuestMain/spaceList.ts
  frontend/src/pages/GuestReservation/GuestReservation.styles.ts
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.styles.ts
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
  frontend/src/pages/ManagerJoin/ManagerJoin.styles.ts
  frontend/src/pages/ManagerJoin/ManagerJoin.tsx
  frontend/src/pages/ManagerLogin/ManagerLogin.styles.ts
  frontend/src/pages/ManagerLogin/ManagerLogin.tsx
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/NotFound/NotFound.tsx
Labels: 📚 frontend, 🔨 refactor

#236 fix: depth가 2 이상인 url로 접속 시 manifest, bundle.js를 찾지 못하는 문제
  frontend/webpack.config.js
Labels: 🐛 bug, 📚 frontend

#238 fix: timezone 관련하여 현재시간 사용하는 테스트가 실패하는 문제 수정
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/LocalTimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/ProductionTimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/TimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/GuestReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 🐛 bug, 🕋 backend

#220 feat: 공간관리자 메인페이지 UI 구현
  frontend/src/App.tsx
  frontend/src/assets/svg/arrow-left.svg
  frontend/src/assets/svg/arrow-right.svg
  frontend/src/assets/svg/menu.svg
  frontend/src/assets/svg/more.svg
  frontend/src/components/DateInput/DateInput.stories.tsx
  frontend/src/components/DateInput/DateInput.styles.ts
  frontend/src/components/DateInput/DateInput.tsx
  frontend/src/components/IconButton/IconButton.stories.tsx
  frontend/src/components/IconButton/IconButton.styles.ts
  frontend/src/components/IconButton/IconButton.tsx
  frontend/src/components/Panel/Panel.stories.tsx
  frontend/src/components/Panel/Panel.styles.ts
  frontend/src/components/Panel/Panel.tsx
  frontend/src/components/Panel/PanelContent.styles.ts
  frontend/src/components/Panel/PanelContent.tsx
  frontend/src/components/Panel/PanelHeader.stories.tsx
  frontend/src/components/Panel/PanelHeader.styles.ts
  frontend/src/components/Panel/PanelHeader.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.stories.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.styles.ts
  frontend/src/components/SpaceListItem/SpaceListItem.tsx
  frontend/src/pages/GuestMain/GuestMain.styles.ts
  frontend/src/pages/GuestMain/GuestMain.tsx
  frontend/src/pages/Main/Main.styles.ts
  frontend/src/pages/Main/Main.tsx
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/utils/datetime.ts
  frontend/src/utils/style.ts
Labels: 공간관리자, 🎨 UI, 📚 frontend

#191 feat: 공간 관리자는 자신의 모든 맵을 조회할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MapRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#193 feat: 공간관리자는 특정 맵의 공간을 생성할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/SpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/Channel.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NoSuchWeekdayException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/SpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MapTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#194 feat: 공간 관리자는 맵을 수정할 수 있다.
  backend/src/docs/asciidoc/map.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MapRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#201 feat: 공간 관리자는 맵을 삭제할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/ReservationExistOnSpaceException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#246 fix: ddl auto 설정을 none으로 변경
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/TimeConverter.java
  backend/src/main/resources/application-prod.properties
Labels: ⚙️ setting, 🐛 bug, 🕋 backend

#200 feat: 공간관리자는 특정 맵의 전체 공간을 조회할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/SpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/Validator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#206 feat: 공간관리자는 특정 맵의 특정 공간을 조회할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/controller/SpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailWithIdResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#248 doc: 추가된 API에 대한 문서를 작성한다.
  backend/src/docs/asciidoc/index.adoc
Labels: 📝 docs, 🕋 backend

#251 refactor: Map entity를 수정한다.
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindResponse.java
  backend/src/main/resources/application-prod.properties
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
Labels: ⚙️ setting, 🔨 refactor, 🕋 backend

#252 feat: ddl auto 설정을 none 으로 변경한다
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/resources/application-prod.properties
Labels: ⚙️ setting, 🐛 bug, 🔨 refactor, 🕋 backend

#212 feat: 공간관리자는 특정 맵의 공간을 수정할 수 있다.
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/SpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindAllResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailWithIdResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/main/resources/logback-spring.xml
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#216 feat: 공간 관리자는 특정 맵의 공간을 삭제할 수 있다.
  backend/src/docs/asciidoc/index.adoc
  backend/src/docs/asciidoc/space.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/SpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/LocalTimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/ProductionTimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/TimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/GuestReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ManagerReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTestFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 공간관리자, 🌟 feature, 🕋 backend

#258 test: 테스트 기본 환경설정 및 예약자 예약 목록 조회 테스트 작성
  frontend/.eslintrc.js
  frontend/jest.config.js
  frontend/package.json
  frontend/src/__mocks__/fileMock.ts
  frontend/src/__mocks__/handlers.ts
  frontend/src/__mocks__/mockData.ts
  frontend/src/__mocks__/server.ts
  frontend/src/__mocks__/setupTest.ts
  frontend/src/__mocks__/svgrMock.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/pages/GuestMain/GuestMain.test.tsx
  frontend/src/pages/GuestMain/GuestMain.tsx
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
  frontend/src/pages/ManagerJoin/ManagerJoin.tsx
  frontend/src/pages/ManagerLogin/ManagerLogin.tsx
  frontend/src/pages/NotFound/NotFound.tsx
  frontend/src/test-utils.tsx
  frontend/yarn.lock
Labels: ⚙️ setting, 🌟 feature, 📚 frontend, 🧪 test

#267 feat: PrivateRoute 구현 및 적용
  frontend/src/App.tsx
  frontend/src/PrivateRoute.tsx
  frontend/src/constants/routes.tsx
Labels: 🌟 feature, 📚 frontend

#274 docs: 맵 삭제 API에 대한 restDocs 추가
  backend/src/docs/asciidoc/map.adoc
Labels: 공간관리자, 📝 docs, 🕋 backend

#277 Fix: 운영환경에서 svg -> png 변경이 안 되는 문제 해결
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/BatikConverter.java
  backend/src/main/resources/application-local.properties
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application-test.properties
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/BatikConverterTest.java
Labels: 공간관리자, 🐛 bug, 🕋 backend

#280 chore: 프론트엔드 테스트를 실행하는 workflow 작성
  .github/workflows/frontend-test.yml
  frontend/package.json
Labels: ⚙️ setting, 📚 frontend, 🧪 test

#282 feat: map 편집 페이지
  frontend/src/api/api.ts
  frontend/src/api/map.ts
  frontend/src/components/Button/Button.styles.ts
  frontend/src/components/Button/Button.tsx
  frontend/src/components/IconButton/IconButton.styles.ts
  frontend/src/components/IconButton/IconButton.tsx
  frontend/src/components/Panel/PanelHeader.styles.ts
  frontend/src/components/Panel/PanelHeader.tsx
  frontend/src/components/PinRadio/PinRadio.styles.ts
  frontend/src/components/PinRadio/PinRadio.tsx
  frontend/src/constants/editor.ts
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.styles.ts
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/types/common.ts
  frontend/src/types/editor.ts
  frontend/src/types/styled.d.ts
  frontend/src/utils/style.ts
Labels: 공간관리자, 🌟 feature, 🎨 UI, 📚 frontend

#270 feat: 예약이 예약 가능 시간대에 예약되었는지 검증한다.
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ConflictSpaceSettingException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ReservationException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/CommonFixture.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/SpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
Labels: 공간관리자, 예약자, 🌟 feature, 🕋 backend

#286 fix: location header 관련 cors 이슈 해결
  backend/src/main/java/com/woowacourse/zzimkkong/WebConfig.java
Labels: ⚙️ setting, 🐛 bug, 🕋 backend

#272 feat: 공간관리자 메인페이지 기능 구현
  frontend/src/api/api.ts
  frontend/src/api/map.ts
  frontend/src/api/reservation.ts
  frontend/src/assets/images/map-default.jpg
  frontend/src/assets/svg/link.svg
  frontend/src/assets/svg/menu.svg
  frontend/src/components/DateInput/DateInput.styles.ts
  frontend/src/components/DateInput/DateInput.tsx
  frontend/src/components/IconButton/IconButton.stories.tsx
  frontend/src/components/IconButton/IconButton.styles.ts
  frontend/src/components/IconButton/IconButton.tsx
  frontend/src/components/MapListItem/MapListItem.stories.tsx
  frontend/src/components/MapListItem/MapListItem.styles.ts
  frontend/src/components/MapListItem/MapListItem.tsx
  frontend/src/components/SpaceListItem/SpaceListItem.stories.tsx
  frontend/src/components/SpaceListItem/SpaceListItem.styles.ts
  frontend/src/components/SpaceListItem/SpaceListItem.tsx
  frontend/src/constants/message.ts
  frontend/src/hooks/useManagerMaps.ts
  frontend/src/hooks/useManagerReservations.ts
  frontend/src/hooks/useReservations.ts
  frontend/src/hooks/useSpaces.ts
  frontend/src/pages/GuestMain/GuestMain.styles.ts
  frontend/src/pages/GuestMain/GuestMain.tsx
  frontend/src/pages/GuestMain/spaceList.ts
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
  frontend/src/pages/ManagerJoin/ManagerJoin.tsx
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
  frontend/src/types/common.ts
  frontend/src/types/response.ts
  frontend/webpack.config.js
Labels: 공간관리자, 🌟 feature, 📚 frontend
