Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2021-09, with the labels that each got.

#473 feat: 공간목록 오름차순, 내림차순 정렬
  frontend/src/components/Panel/Panel.styles.ts
  frontend/src/components/Panel/Panel.tsx
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/types/common.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자

#478 test: 예약 CRUD 테스트 코드를 작성한다.
  frontend/jest.config.js
  frontend/src/__mocks__/handlers.ts
  frontend/src/__mocks__/mockData.ts
  frontend/src/__mocks__/setupTest.ts
  frontend/src/__tests__/reservation.test.tsx
  frontend/src/components/ReservationListItem/ReservationListItem.tsx
  frontend/src/constants/message.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/types/response.ts
Labels: 📚 frontend, 예약자, 🧪 test

#480 feat: 프리셋 전체조회 시 id값 같이 반환
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetFindResponse.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
Labels: 🌟 feature, 🕋 backend

#482 feat: TimeZone 세팅 로직 수정
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/LocalTimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/ProductionTimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/TimeConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
Labels: 🕋 backend, ⚙️ setting, 🔨 refactor

#485 feat: 프리셋 이름에 공백 허용하도록 regex 수정
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ValidatorMessage.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetCreateRequest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/PresetCreateRequestTest.java
Labels: 🌟 feature, 🕋 backend

#489 refactor: 코드 냄새 제거 (젠킨스 촉발)
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
Labels: 🕋 backend, 🔨 refactor, ⛑ infra

#495 refactor: 코드 냄새 제거(젠킨스 촉발)
  backend/src/main/java/com/woowacourse/zzimkkong/repository/MapRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/PresetRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/SpaceRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
Labels: 🕋 backend, 🔨 refactor, ⛑ infra

#498 refactor: 젠킨스 촉발 커밋
  backend/src/main/java/com/woowacourse/zzimkkong/service/strategy/ManagerReservationStrategy.java
Labels: 🕋 backend, 🔨 refactor, ⛑ infra

#493 fix: 맵 추가 페이지에서 메인으로 돌아왔을 때 예약 목록이 로드되지 않는 문제 수정
  frontend/src/hooks/useListenManagerMainState.ts
  frontend/src/pages/ManagerMapCreate/ManagerMapCreate.tsx
Labels: 🐛 bug, 📚 frontend, 공간관리자

#499 fix: 로그아웃 후 다른 아이디로 로그인 시, 로그아웃 되던 오류
  frontend/src/App.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/pages/ManagerMain/ManagerMain.tsx
Labels: 🐛 bug, 📚 frontend, 공간관리자

#514 feat: `useInputs` 커스텀 훅 구현
  frontend/src/hooks/useInputs.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자

#517 chore: 메인페이지 이미지 리사이징
  frontend/src/assets/images/bada.png
  frontend/src/assets/images/cheffe.png
  frontend/src/assets/images/github-logo.png
  frontend/src/assets/images/kimkim.png
  frontend/src/assets/images/map-default.jpg
  frontend/src/assets/images/map-editor.png
  frontend/src/assets/images/reservation-page.png
  frontend/src/assets/images/sakjung.png
  frontend/src/assets/images/sally.png
  frontend/src/assets/images/space-editor.png
  frontend/src/assets/images/sun.png
  frontend/src/assets/images/youtube-logo.png
  frontend/src/assets/images/yujo.png
Labels: 📚 frontend, 🔨 refactor

#504 refactor: 필요없는 주석 제거 (젠킨스 촉발)
  backend/src/main/java/com/woowacourse/zzimkkong/ZzimkkongApplication.java
Labels: 🕋 backend, 🔨 refactor, ⛑ infra

#526 chore: package.json의 version을 1.0.1로 변경
  frontend/package.json
Labels: 📚 frontend

#518 refactor: GuestReservation과 GuestReservationEdit 컴포넌트 통합
  frontend/src/api/guestReservation.ts
  frontend/src/constants/message.ts
  frontend/src/constants/routes.tsx
  frontend/src/constants/time.ts
  frontend/src/hooks/useScrollToTop.ts
  frontend/src/pages/GuestReservation/GuestReservation.styles.ts
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/GuestReservation/units/ReservationForm.styles.ts
  frontend/src/pages/GuestReservation/units/ReservationForm.tsx
  frontend/src/pages/GuestReservationEdit/GuestReservationEdit.tsx
Labels: 📚 frontend, 🔨 refactor

#528 refactor: Login, Join 페이지에서 Form 컴포넌트 분리
  frontend/src/pages/ManagerJoin/ManagerJoin.styles.ts
  frontend/src/pages/ManagerJoin/ManagerJoin.tsx
  frontend/src/pages/ManagerJoin/units/JoinForm.styles.ts
  frontend/src/pages/ManagerJoin/units/JoinForm.tsx
  frontend/src/pages/ManagerLogin/ManagerLogin.styles.ts
  frontend/src/pages/ManagerLogin/ManagerLogin.tsx
  frontend/src/pages/ManagerLogin/units/LoginForm.styles.ts
  frontend/src/pages/ManagerLogin/units/LoginForm.tsx
Labels: 📚 frontend, 공간관리자, 🔨 refactor

#521 feat: 공간의 예약조건 검증을 추가한다.
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/TimeUnitValidator.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingsRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/InputFieldException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/ImpossibleAvailableStartEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/InvalidMinimumMaximumTimeUnitException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NotEnoughAvailableTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/TimeUnitInconsistencyException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/TimeUnitMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SettingTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SettingsRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
Labels: 🌟 feature, 🕋 backend, 공간관리자

#537 feat: 공간 관리자 로그인 페이지 소셜 로그인 버튼 UI 구현
  frontend/.storybook/preview.js
  frontend/src/assets/svg/github-logo.svg
  frontend/src/assets/svg/google-logo.svg
  frontend/src/components/SocialLoginButton/SocialLoginButton.stories.tsx
  frontend/src/components/SocialLoginButton/SocialLoginButton.styles.ts
  frontend/src/components/SocialLoginButton/SocialLoginButton.tsx
  frontend/src/constants/palette.ts
  frontend/src/pages/ManagerLogin/ManagerLogin.styles.ts
  frontend/src/pages/ManagerLogin/ManagerLogin.tsx
Labels: 📚 frontend, 공간관리자, 🎨 UI

#530 feat: 회원은 자신의 정보를 조회, 수정, 삭제(회원 탈퇴)할 수 있다.
  backend/src/docs/asciidoc/member.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/InputFieldErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/ReservationExistsOnMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryCustom.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryImpl.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MapTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/MemberUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MemberRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryImplTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
Labels: 🌟 feature, 🕋 backend

#541 fix: flyway oauth 관련 칼럼 추가 및 변경
  backend/src/main/resources/db/migration/prod/V9__oauth.sql
Labels: 🐛 bug, 🕋 backend

#534 refactor: 공간 편집 페이지 리팩토링
  frontend/public/index.html
  frontend/src/__tests__/reservation.test.tsx
  frontend/src/components/Input/Input.styles.ts
  frontend/src/components/Modal/Modal.tsx
  frontend/src/components/Toggle/Toggle.stories.tsx
  frontend/src/components/Toggle/Toggle.tsx
  frontend/src/constants/editor.ts
  frontend/src/constants/message.ts
  frontend/src/constants/routes.tsx
  frontend/src/hooks/useInputs.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMapEditor/units/MapEditor.tsx
  frontend/src/pages/ManagerSpaceEdit/ManagerSpaceEdit.styles.ts
  frontend/src/pages/ManagerSpaceEdit/ManagerSpaceEdit.tsx
  frontend/src/pages/ManagerSpaceEditor/ManagerSpaceEditor.styles.ts
  frontend/src/pages/ManagerSpaceEditor/ManagerSpaceEditor.tsx
  frontend/src/pages/ManagerSpaceEditor/data.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useBindKeyPress.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useBoardCoordinate.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useBoardMove.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useBoardStatus.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useBoardZoom.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useDrawingRect.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useFormContext.ts
  frontend/src/pages/ManagerSpaceEditor/providers/SpaceFormProvider.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Board.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/Board.tsx
  frontend/src/pages/ManagerSpaceEditor/units/BoardCursorRect.tsx
  frontend/src/pages/ManagerSpaceEditor/units/BoardMapElement.tsx
  frontend/src/pages/ManagerSpaceEditor/units/BoardSpace.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/BoardSpace.tsx
  frontend/src/pages/ManagerSpaceEditor/units/ColorDot.ts
  frontend/src/pages/ManagerSpaceEditor/units/Editor.tsx
  frontend/src/pages/ManagerSpaceEditor/units/EditorHeader.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/EditorHeader.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Form.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/Form.tsx
  frontend/src/pages/ManagerSpaceEditor/units/FormTimeUnitSelect.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/FormTimeUnitSelect.tsx
  frontend/src/pages/ManagerSpaceEditor/units/FormWeekdaySelect.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/FormWeekdaySelect.tsx
  frontend/src/pages/ManagerSpaceEditor/units/GridPattern.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Preset.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/Preset.tsx
  frontend/src/pages/ManagerSpaceEditor/units/PresetNameModal.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/PresetNameModal.tsx
  frontend/src/pages/ManagerSpaceEditor/units/ShapeSelectToolbar.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/ShapeSelectToolbar.tsx
  frontend/src/pages/ManagerSpaceEditor/units/SpaceAddButton.tsx
  frontend/src/pages/ManagerSpaceEditor/units/SpaceSelect.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/SpaceSelect.tsx
  frontend/src/types/common.ts
  frontend/src/types/editor.ts
  frontend/src/types/util.ts
  frontend/src/utils/generateSvg.ts
  frontend/src/utils/map.ts
  frontend/src/utils/sort.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자, 🔨 refactor

#543 refactor: api url 수정, 중복된 컴포넌트 및 Custom Hooks 공통화
  frontend/src/api/join.ts
  frontend/src/api/presets.ts
  frontend/src/components/Board/Board.styles.ts
  frontend/src/components/Board/Board.tsx
  frontend/src/components/Board/GridPattern.tsx
  frontend/src/components/ColorDot/ColorDot.ts
  frontend/src/hooks/board/useBindKeyPress.ts
  frontend/src/hooks/board/useBoardCoordinate.ts
  frontend/src/hooks/board/useBoardMove.ts
  frontend/src/hooks/board/useBoardStatus.ts
  frontend/src/hooks/board/useBoardZoom.ts
  frontend/src/hooks/query/useGuestMap.ts
  frontend/src/hooks/query/useGuestReservations.ts
  frontend/src/hooks/query/useGuestSpaces.ts
  frontend/src/hooks/query/useManagerMap.ts
  frontend/src/hooks/query/useManagerMaps.ts
  frontend/src/hooks/query/useManagerReservations.ts
  frontend/src/hooks/query/useManagerSpace.ts
  frontend/src/hooks/query/useManagerSpaces.ts
  frontend/src/hooks/query/usePreset.ts
  frontend/src/hooks/useFormContext.ts
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestReservation/GuestReservation.styles.ts
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMapEditor/ManagerMapEditor.tsx
  frontend/src/pages/ManagerMapEditor/hooks/useBoardCoordinate.ts
  frontend/src/pages/ManagerMapEditor/hooks/useBoardMove.ts
  frontend/src/pages/ManagerMapEditor/hooks/useBoardZoom.ts
  frontend/src/pages/ManagerMapEditor/units/Board.styles.ts
  frontend/src/pages/ManagerMapEditor/units/MapEditor.tsx
  frontend/src/pages/ManagerReservationEdit/ManagerReservationEdit.styles.ts
  frontend/src/pages/ManagerReservationEdit/ManagerReservationEdit.tsx
  frontend/src/pages/ManagerSpaceEditor/ManagerSpaceEditor.tsx
  frontend/src/pages/ManagerSpaceEditor/hooks/useBindKeyPress.ts
  frontend/src/pages/ManagerSpaceEditor/hooks/useBoardStatus.ts
  frontend/src/pages/ManagerSpaceEditor/units/Board.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/Board.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Editor.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Form.tsx
  frontend/src/pages/ManagerSpaceEditor/units/GridPattern.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Preset.tsx
  frontend/src/pages/ManagerSpaceEditor/units/ShapeSelectToolbar.tsx
  frontend/src/pages/ManagerSpaceEditor/units/SpaceAddButton.tsx
  frontend/src/pages/ManagerSpaceEditor/units/SpaceSelect.tsx
Labels: 📚 frontend, 🔨 refactor

#553 refactor: Code Spliting 및 Dynamic Import 적용
  frontend/.gitignore
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/reservation.test.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestMap/units/ReservationDrawer.styles.ts
  frontend/src/pages/GuestMap/units/ReservationDrawer.tsx
  frontend/src/pages/GuestReservation/GuestReservation.tsx
  frontend/src/test-utils.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 📚 frontend, 🔨 refactor

#560 feat: Github, Google OAuth 공간 관리자 로그인 기능 구현
  frontend/.gitignore
  frontend/package.json
  frontend/src/PrivateRoute.tsx
  frontend/src/api/join.ts
  frontend/src/api/login.ts
  frontend/src/components/Input/Input.styles.ts
  frontend/src/components/SocialAuthButton/SociaLoginButton.stories.tsx
  frontend/src/components/SocialAuthButton/SocialAuthButton.styles.ts
  frontend/src/components/SocialAuthButton/SocialJoinButton.stories.tsx
  frontend/src/components/SocialAuthButton/SocialJoinButton.tsx
  frontend/src/components/SocialAuthButton/SocialLoginButton.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/hooks/query/useGithubLogin.ts
  frontend/src/hooks/query/useGoogleLogin.ts
  frontend/src/hooks/useQueryString.ts
  frontend/src/pages/ManagerLogin/ManagerLogin.tsx
  frontend/src/pages/ManagerSocialJoin/ManagerSocialJoin.styles.ts
  frontend/src/pages/ManagerSocialJoin/ManagerSocialJoin.tsx
  frontend/src/pages/ManagerSocialJoin/units/SocialJoinForm.styles.ts
  frontend/src/pages/ManagerSocialJoin/units/SocialJoinForm.tsx
  frontend/src/pages/OAuthRedirect/GithubOAuthRedirect.tsx
  frontend/src/pages/OAuthRedirect/GoogleOAuthRedirect.tsx
  frontend/src/types/response.ts
  frontend/webpack.config.js
  frontend/yarn.lock
Labels: 🌟 feature, 📚 frontend, 공간관리자

#562 fix: 프리셋이 설정된 상태에서 다른 공간 선택 시 프리셋이 초기화되지 않는 문제
  frontend/src/pages/ManagerSpaceEditor/providers/SpaceFormProvider.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Preset.tsx
Labels: 🐛 bug, 📚 frontend, 공간관리자

#563 build: package.json의 version을 1.0.2로 올린다.
  frontend/package.json
Labels: 📚 frontend

#561 fix: oauth 버그를 해결한다. OAuth를 이용한 회원가입 플로우를 수정한다.
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/OAuthLoginFailErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/oauth/OauthReadyResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/OauthProviderMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/oauth/ErrorResponseToGetAccessTokenException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/NoSuchOAuthMemberException.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/oauth/GithubRequester.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/oauth/GoogleRequester.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/oauth/GithubRequesterTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/oauth/GoogleRequesterTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/oauth/OauthHandlerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
Labels: 🐛 bug, 🌟 feature, 🕋 backend, 공간관리자

#566 fix: OAuth 로그인 시 Redirect URI이 제대로 설정되지 않는 문제 수정
  frontend/src/constants/path.ts
Labels: 🐛 bug, 📚 frontend, 공간관리자

#570 fix: OAuth 로그인 시 요청 URL이 잘못되어 있는 문제
  frontend/src/api/join.ts
  frontend/src/api/login.ts
Labels: 🐛 bug, 📚 frontend, 공간관리자

#571 fix: 잘못된 소셜 로그인 제공사로 로그인할시 메세지가 잘못 포매팅 되는 문제 해결
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/OauthProviderMismatchException.java
Labels: 🐛 bug, 🕋 backend

#564 feat: package.json의 version을 1.1.0로 설정
  frontend/package.json
Labels: 📚 frontend

#573 fix: 토큰 만료 후 Header에 로그아웃 버튼이 표시되는 문제 수정
  frontend/src/api/login.ts
  frontend/src/pages/ManagerLogin/ManagerLogin.tsx
Labels: 🐛 bug, 📚 frontend

#585 feat: version1.1.1
  frontend/package.json
Labels: 📚 frontend

#578 fix: 로그인 시 Manager가 영속화 되지 않는 문제 수정
  backend/src/main/java/com/woowacourse/zzimkkong/config/AuthenticationPrincipalConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/config/datasource/CustomDataSourceConfig.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ManagerReservationController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ManagerSpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/LoginEmail.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/LoginEmailDto.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationAuthenticationDto.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateDto.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindAllDto.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationFindDto.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationUpdateDto.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/ImpossibleAvailableStartEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/InvalidMinimumMaximumTimeUnitException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/NotEnoughAvailableTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/TimeUnitInconsistencyException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/TimeUnitMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/auth/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/auth/AuthorizationExtractor.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/auth/JwtUtils.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/auth/LoginInterceptor.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/sharingid/AES256Transcoder.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/sharingid/SharingIdGenerator.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/sharingid/Transcoder.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/BatikConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/S3Uploader.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/StorageUploader.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/SvgConverter.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/ThumbnailManager.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/AuthService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/PresetService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/strategy/GuestReservationStrategy.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/strategy/ManagerReservationStrategy.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/strategy/ReservationStrategy.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AuthControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/auth/JwtUtilsTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/sharingid/AES256TranscoderTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/BatikConverterTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/S3UploaderTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/SharingIdGeneratorTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AuthServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/PresetServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🐛 bug, 🕋 backend, 공간관리자, 🔨 refactor

#580 refactor: ManagerMain 페이지 리팩터링
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMain/units/MapDrawer.styles.ts
  frontend/src/pages/ManagerMain/units/MapDrawer.tsx
  frontend/src/pages/ManagerMain/units/ReservationList.styles.ts
  frontend/src/pages/ManagerMain/units/ReservationList.tsx
Labels: 📚 frontend, 🔨 refactor
