Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2022-08, with the labels that each got.

#834 feat: 슬랙예약알림 메시지에 교육장 정보 추가
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/SlackResponse.java
Labels: 🕋 backend, 예약자, 🔨 refactor

#840 fix: default setting start, end setting 값 수정
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingRequest.java
Labels: 🐛 bug, 🕋 backend

#845 feat: 시간대별 예약조건 설정 기능 구현
  frontend/src/__mocks__/mockData.ts
  frontend/src/api/managerSpace.ts
  frontend/src/api/presets.ts
  frontend/src/constants/space.ts
  frontend/src/hooks/useInputs.ts
  frontend/src/pages/GuestReservation/units/GuestReservationForm.styles.ts
  frontend/src/pages/GuestReservation/units/GuestReservationForm.tsx
  frontend/src/pages/ManagerReservation/units/ManagerReservationForm.styles.ts
  frontend/src/pages/ManagerReservation/units/ManagerReservationForm.tsx
  frontend/src/pages/ManagerSpaceEditor/data.ts
  frontend/src/pages/ManagerSpaceEditor/providers/SpaceFormProvider.tsx
  frontend/src/pages/ManagerSpaceEditor/units/BoardSpace.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Form.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/Form.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Preset.tsx
  frontend/src/types/common.ts
  frontend/src/utils/datetime.ts
  frontend/src/utils/generateSvg.ts
Labels: 🌟 feature, 📚 frontend

#843 feat: preset table - reservation_enable 컬럼 제거
  backend/src/main/java/com/woowacourse/zzimkkong/domain/TimeUnit.java
  backend/src/main/resources/db/migration/prod/V17__drop_unused_column.sql
Labels: 🐛 bug, 🕋 backend

#851 refactor: space에서 description 필드 삭제 및 관련 코드 수정
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindDetailWithIdResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryImpl.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/Constants.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AdminControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/SpaceCreateUpdateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryImplTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AdminServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🐛 bug, 🕋 backend

#848 chore: version 1.5.0
  frontend/package.json
Labels: 📚 frontend

#850 hotfix: 1.5.0 dev QA중 나온 에러 사항들을 수정한다.
  frontend/src/__mocks__/mockData.ts
  frontend/src/api/managerSpace.ts
  frontend/src/constants/space.ts
  frontend/src/constants/style.ts
  frontend/src/pages/GuestReservation/units/GuestReservationForm.tsx
  frontend/src/pages/ManagerReservation/units/ManagerReservationForm.tsx
  frontend/src/pages/ManagerSpaceEditor/data.ts
  frontend/src/pages/ManagerSpaceEditor/units/Form.styles.ts
  frontend/src/pages/ManagerSpaceEditor/units/Form.tsx
  frontend/src/types/common.ts
Labels: 🐛 bug, 📚 frontend

#854 feat: 프로파일에 따라 로그가 다른 경로에 저장되도록 수정
  backend/src/main/resources/logback-spring.xml
Labels: 🕋 backend, 🔨 refactor

#855 fix: setting 끼리 겹치는 지 검증 할 때 요일도 보도록 수정
  backend/src/main/java/com/woowacourse/zzimkkong/domain/EnabledDayOfWeek.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
Labels: 🐛 bug, 🕋 backend
