Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2022-02, with the labels that each got.

#781 fix: 공간 생성, 수정, 삭제시 바디의 썸네일 정보 인자값을 mapImageSvg에서 thumbnail로 수정한다.
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceDeleteRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/CannotDeleteConvertedFileException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/CannotGenerateInputStreamFromSvgDataException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/S3ProxyRespondedFailException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/S3UploadException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/infrastructure/SvgToPngConvertException.java
Labels: 🐛 bug, 🕋 backend, 공간관리자, 🔨 refactor

#785 fix: 공간 CUD API에서 맵의 썸네일을 업데이트하도록 수정
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
Labels: 🐛 bug, 🕋 backend, 공간관리자, 🔨 refactor

#787 refactor: 관리자 메인 페이지에서 썸네일을 png대신 svg로 보여주도록 수정
  frontend/src/__mocks__/mockData.ts
  frontend/src/api/managerMap.ts
  frontend/src/api/managerSpace.ts
  frontend/src/components/MapListItem/MapListItem.stories.tsx
  frontend/src/components/MapListItem/MapListItem.styles.ts
  frontend/src/components/MapListItem/MapListItem.tsx
  frontend/src/pages/ManagerMain/units/MapDrawer.tsx
  frontend/src/pages/ManagerMapEditor/ManagerMapEditor.tsx
  frontend/src/pages/ManagerSpaceEditor/units/Form.tsx
  frontend/src/types/common.ts
Labels: 📚 frontend, 공간관리자, 🔨 refactor

#788 fix: RequestRejectedException 핸들링 코드 추가
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
Labels: 🐛 bug, 🕋 backend

#792 fix: 예약 시간이 12시인 경우 예약을 완료할 수 없는 문제
  frontend/src/utils/datetime.ts
Labels: 🐛 bug, 📚 frontend, 예약자
