Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2022-01, with the labels that each got.

#760 refactor: jacoco, sonarqube 관련 설정 제거
  backend/build.gradle
  backend/src/test/java/com/woowacourse/zzimkkong/infrastructure/thumbnail/S3ProxyUploaderTest.java
Labels: 🕋 backend, 🔨 refactor

#769 fix: map 수정 시 thumbnail 안되는 문제 해결
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MapTest.java
Labels: 🐛 bug, 🕋 backend

#772 feat: 슬랙 웹훅 URL 설정 기능 구현
  frontend/src/api/managerMap.ts
  frontend/src/assets/svg/slack.svg
  frontend/src/constants/api.ts
  frontend/src/constants/message.ts
  frontend/src/pages/ManagerMain/ManagerMain.styles.ts
  frontend/src/pages/ManagerMain/ManagerMain.tsx
  frontend/src/pages/ManagerMain/hooks/useSlackWebhookUrl.ts
  frontend/src/types/response.ts
Labels: 🌟 feature, 📚 frontend, 공간관리자

#773 chore: 개발용 환경 세팅
  backend/src/main/resources/application-dev.properties
Labels: 🕋 backend, ⛑ infra
