Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2022-05, with the labels that each got.

#809 chore: version 1.4.5
  frontend/package.json
Labels: 📚 frontend

#822 fix: 선택된 맵 ID가 없을 때도 등록된 슬랙 웹훅 URL을 불러오는 문제 수정
  frontend/src/pages/ManagerMain/ManagerMain.tsx
Labels: 🐛 bug, 📚 frontend

#821 feat: 맵별 공지사항 보여주는 기능 추가
  backend/src/docs/asciidoc/map.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MapController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Map.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/MapFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/map/NoticeCreateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/resources/db/migration/prod/V15__map_add_column_notice.sql
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MapControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/NoticeCreateRequestTest.java
Labels: 🌟 feature, 🕋 backend, 공간관리자

#796 refactor: 예약 도메인 관련 객체들 생성
  backend/src/main/java/com/woowacourse/zzimkkong/DataLoader.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Preset.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Reservation.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/ReservationTime.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Setting.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Space.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/TimeSlot.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/TimeUnit.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/PresetFindResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/slack/SlackResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SettingResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/IllegalTimeUnitValueException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/ImpossibleStartEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/NonMatchingStartEndDateException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/reservation/PastReservationTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/space/ImpossibleAvailableStartEndTimeException.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryCustom.java
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryImpl.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MapService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/PresetService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/Constants.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/AdminControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/MemberTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/PresetTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/ReservationTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/ReservationTimeTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SettingTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/SpaceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/TimeSlotTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/domain/TimeUnitTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/PresetCreateRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/RequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/MapRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/PresetRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryImplTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AdminServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MapServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/PresetServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🕋 backend, 🔨 refactor
