Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2023-03, with the labels that each got.

#917 feat: 비밀번호 변경 기능
  backend/src/main/java/com/woowacourse/zzimkkong/controller/MemberController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Member.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/ChangePasswordRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/ConfirmationNewPasswordMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/PasswordMismatchException.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ChangePasswordRequestTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
Labels: 🌟 feature, 🕋 backend

#922 feat: 회원 정보 수정에서 회원 스스로의 닉네임은 중복검사에서 제외하는 분기 생성
  backend/src/main/java/com/woowacourse/zzimkkong/service/MemberService.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/MemberServiceTest.java
Labels: 🌟 feature, 🕋 backend

#919 feat: 비회원 예약 조회 개선
  backend/src/main/java/com/woowacourse/zzimkkong/repository/ReservationRepository.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  frontend/src/hooks/infiniteQuery/useNonLoginReservations.ts
  frontend/src/pages/GuestNonLoginReservationSearch/GuestNonLoginReservationSearch.tsx
  frontend/src/pages/GuestNonLoginReservationSearch/units/GuestNonLoginReservationSearchResult.styles.ts
  frontend/src/pages/GuestNonLoginReservationSearch/units/GuestNonLoginReservationSearchResult.tsx
Labels: 🌟 feature, 📚 frontend

#924 feat: 내 정보 수정 페이지 UI 및 API 연동 구현
  frontend/src/api/member.ts
  frontend/src/components/EmojiSelector/EmojiSelector.styles.ts
  frontend/src/components/EmojiSelector/EmojiSelector.tsx
  frontend/src/components/MemberInfo/MemberInfo.styled.ts
  frontend/src/components/MemberInfo/MemberInfo.tsx
  frontend/src/constants/message.ts
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/pages/ManagerJoin/units/JoinForm.tsx
  frontend/src/pages/ManagerProfileEdit/ManagerProfileEdit.styles.ts
  frontend/src/pages/ManagerProfileEdit/ManagerProfileEdit.tsx
  frontend/src/pages/ManagerProfileEdit/units/ProfileEditForm.styles.ts
  frontend/src/pages/ManagerProfileEdit/units/ProfileEditForm.tsx
  frontend/src/pages/ManagerSocialJoin/units/SocialJoinForm.tsx
Labels: 🌟 feature, 📚 frontend

#925 fix: iOS에서 로그인 후 예약 시 이름 필드 흐리게 보이는 현상 해결
  frontend/src/components/Input/Input.styles.ts
Labels: 🐛 bug, 📚 frontend

#926 fix: 비밀번호 변경 테스트 요청 url 오기입 수정
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/ProfileEmojiResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationInfiniteScrollResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationOwnerResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindAllAvailabilityResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindAvailabilityResponse.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/MemberControllerTest.java
Labels: 🕋 backend, 🔨 refactor

#927 feat: 비밀번호 변경 API 문서 추가
  backend/src/docs/asciidoc/member.adoc
Labels: 🕋 backend, 📝 docs

#920 feat: 비활성화 상태를 좀 더 명확하게 구분하기
  frontend/src/pages/GuestMap/units/GuestMapDrawing.styles.ts
Labels: 📚 frontend, 🔨 refactor

#928 feat: 로그인 유저의 비밀번호 변경 기능
  frontend/src/api/member.ts
  frontend/src/constants/path.ts
  frontend/src/constants/routes.tsx
  frontend/src/pages/ManagerPasswordEdit/ManagerPasswordEdit.styles.ts
  frontend/src/pages/ManagerPasswordEdit/ManagerPasswordEdit.tsx
  frontend/src/pages/ManagerProfileEdit/ManagerProfileEdit.tsx
  frontend/src/pages/ManagerProfileEdit/units/ProfileEditForm.styles.ts
  frontend/src/pages/ManagerProfileEdit/units/ProfileEditForm.tsx
Labels: 🌟 feature, 📚 frontend

#930 feat: 비회원 예약 조회 loader 추가
  frontend/src/components/Loader/Loader.ts
  frontend/src/pages/GuestNonLoginReservationSearch/GuestNonLoginReservationSearch.tsx
  frontend/src/pages/GuestNonLoginReservationSearch/units/GuestNonLoginReservationSearchResult.styles.ts
  frontend/src/pages/GuestNonLoginReservationSearch/units/GuestNonLoginReservationSearchResult.tsx
Labels: 🌟 feature, 📚 frontend

#929 feat: 비밀번호 변경 api에서 기존 비밀번호 오기입시 에러 메세지 구체화, 기존 비밀번호에 대해 패턴 검사를 실시하지 않음, dto 패턴 테스트 코드 추가
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/ChangePasswordRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/member/PasswordMismatchException.java
  backend/src/test/java/com/woowacourse/zzimkkong/dto/ChangePasswordRequestTest.java
Labels: 🌟 feature, 🕋 backend

#931 chore: front version up 2.0.0 -> 2.1.0
  frontend/package.json
Labels: 📚 frontend, ⚙️ setting

#936 feat: 내 정보 조회시 oauth provider 정보 필드 추가
  backend/src/main/java/com/woowacourse/zzimkkong/dto/member/MemberFindResponse.java
Labels: 🌟 feature, 🕋 backend

#935 feat: OAuth 로그인일 경우 비밀번호 변경 텍스트, 링크가 보이지 않도록 하는 기능
  frontend/src/api/member.ts
  frontend/src/pages/ManagerProfileEdit/ManagerProfileEdit.tsx
Labels: 📚 frontend

#939 fix: 예약 가능 공간 조회 시, 과거 시간 검증 하도록 수정
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
Labels: 🐛 bug, 🕋 backend

#940 hotfix: v2.1.0
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
Labels: 🐛 bug, 🫶🏻 release

#950 feat: ControllerAdvice 개편
  backend/src/main/java/com/woowacourse/zzimkkong/controller/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ErrorResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/ValidatorMessage.java
  backend/src/main/java/com/woowacourse/zzimkkong/exception/authorization/TokenExpiredException.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/auth/JwtUtils.java
Labels: 🐛 bug, 🕋 backend
