Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2023-02, with the labels that each got.

#899 feat: 예약 가능 시간에 따라 맵에서 공간을 활성화/비활성화로 보이게 하는 기능 구현
  frontend/src/components/Switch/Switch.styled.ts
  frontend/src/constants/routes.tsx
  frontend/src/hooks/useTimePicker.ts
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestMap/GuestMapContainer.tsx
  frontend/src/pages/GuestMap/providers/GuestMapFormProvider.tsx
  frontend/src/pages/GuestMap/units/Aside.tsx
  frontend/src/pages/GuestMap/units/GuestMapDrawing.styles.ts
  frontend/src/pages/GuestMap/units/GuestMapDrawing.tsx
  frontend/src/pages/GuestMap/units/ReservationForm.styled.ts
  frontend/src/pages/GuestMap/units/ReservationForm.tsx
Labels: 🌟 feature, 📚 frontend

#901 feat: 예약페이지 예약현황 조회 기능
  frontend/src/__tests__/pages/reservation.test.tsx
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestMap/units/Aside.tsx
  frontend/src/pages/GuestMap/units/GuestMapDrawing.tsx
  frontend/src/pages/GuestMap/units/LoginPopup.tsx
  frontend/src/pages/GuestMap/units/ReservationItem.styled.ts
  frontend/src/pages/GuestMap/units/ReservationItem.tsx
  frontend/src/pages/GuestMap/units/ReservationList.styled.ts
  frontend/src/pages/GuestMap/units/ReservationList.tsx
Labels: 🌟 feature, 📚 frontend

#890 feat: 특정 맵 > 전체 공간에 대한 사용가능여부 조회 API 추가
  backend/src/docs/asciidoc/space.adoc
  backend/src/main/java/com/woowacourse/zzimkkong/controller/GuestSpaceController.java
  backend/src/main/java/com/woowacourse/zzimkkong/domain/Settings.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/reservation/ReservationCreateUpdateRequest.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindAllAvailabilityResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/dto/space/SpaceFindAvailabilityResponse.java
  backend/src/main/java/com/woowacourse/zzimkkong/infrastructure/datetime/TimeZoneUtils.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/ReservationService.java
  backend/src/main/java/com/woowacourse/zzimkkong/service/SpaceService.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/GuestSpaceControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/controller/ManagerReservationControllerTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryImplTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/repository/ReservationRepositoryTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/AdminServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/GuestReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/ManagerReservationServiceTest.java
  backend/src/test/java/com/woowacourse/zzimkkong/service/SpaceServiceTest.java
Labels: 🌟 feature, 🕋 backend, 예약자

#905 feat: 예약현황 조회 시, 공간을 선택할 수 있는 기능
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestMap/providers/GuestMapFormProvider.tsx
  frontend/src/pages/GuestMap/units/Aside.styled.tsx
  frontend/src/pages/GuestMap/units/Aside.tsx
  frontend/src/pages/GuestMap/units/ReservationForm.styled.ts
  frontend/src/pages/GuestMap/units/ReservationForm.tsx
  frontend/src/pages/GuestMap/units/ReservationList.styled.ts
  frontend/src/pages/GuestMap/units/ReservationList.tsx
Labels: 🐛 bug, 🌟 feature, 📚 frontend

#906 release: v2.0.0
  frontend/src/pages/GuestMap/GuestMap.styles.ts
  frontend/src/pages/GuestMap/GuestMap.tsx
  frontend/src/pages/GuestMap/providers/GuestMapFormProvider.tsx
  frontend/src/pages/GuestMap/units/Aside.styled.tsx
  frontend/src/pages/GuestMap/units/Aside.tsx
  frontend/src/pages/GuestMap/units/ReservationForm.styled.ts
  frontend/src/pages/GuestMap/units/ReservationForm.tsx
  frontend/src/pages/GuestMap/units/ReservationList.styled.ts
  frontend/src/pages/GuestMap/units/ReservationList.tsx
Labels: 📚 frontend
