Repository woowacourse-teams/2021-zzimkkong, pull requests merged in 2024-04, with the labels that each got.

#987 fix: Connection Prematurely Closed issue 대응 작업
  backend/src/main/java/com/woowacourse/zzimkkong/service/SlackService.java
Labels: 🐛 bug

#988 feat: 예약 화면에서 로그인 후, 예약 화면으로 바로 돌아가는 기능 구현
  frontend/src/components/SocialAuthButton/SocialAuthButton.styles.ts
  frontend/src/components/SocialAuthButton/SocialLoginButton.tsx
  frontend/src/constants/storage.ts
  frontend/src/pages/GuestMap/units/LoginPopup.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/OAuthRedirect/GithubOAuthRedirect.tsx
  frontend/src/pages/OAuthRedirect/GoogleOAuthRedirect.tsx
  frontend/src/utils/localStorage.ts
Labels: 🌟 feature, 📚 frontend

#991 chore: v2.1.3
  frontend/package.json
Labels: 📚 frontend

#992 release: v2.1.3
  frontend/package.json
  frontend/src/components/SocialAuthButton/SocialAuthButton.styles.ts
  frontend/src/components/SocialAuthButton/SocialLoginButton.tsx
  frontend/src/constants/storage.ts
  frontend/src/pages/GuestMap/units/LoginPopup.tsx
  frontend/src/pages/Login/Login.tsx
  frontend/src/pages/OAuthRedirect/GithubOAuthRedirect.tsx
  frontend/src/pages/OAuthRedirect/GoogleOAuthRedirect.tsx
  frontend/src/utils/localStorage.ts
Labels: 📚 frontend, 🫶🏻 release
